/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body { 
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #333;
	width:100%;
	height: auto;
	margin: 0;
}

h1 {
	font-size: 36px;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
  	letter-spacing: 2px;
  	word-spacing: 2px;
  	color: #5b5b5b;
}

p{
	font-size:1.2em;
	font-weight: 100;
	color: #333;
}

.red{
	color: #FF4444;
}

.purple{
	color: #5856D6;
}

.green{
	color: #4CD964;
}

.yellow {
	color: #FFCD02;
}

.blue{
	color: #1D77EF;
}

.pink{
	color:#FF4981;
}

#header-bar{
	width: 100%;
	height: 50px;
	position: absolute;
	margin-left: 10%;
	top:0;
	z-index: 999;
}

#logo {
	line-height: 50px;
	font-size: 1.05em;
	color: #fff;
	display: inline-block;
}

#menu {
	margin-left: 30px;
	display: inline-block;
}

#auth-menu {
	display: inline-block;
}

#menu a, #auth-menu a{
	position: relative;
	display: inline-block;
	padding: 0px 24px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 0.87em;
	overflow: hidden;
	height: 16px;
}

.current-menu-item{
	font-weight: 700;
}

.hover-anim {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.hover-anim:before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
}

#menu a:hover span,
#menu a:focus span,
#auth-menu a:hover span,
#auth-menu a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

#header-info{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	margin-top: 20px;
	color: white;
	z-index: 1;
	text-align: center;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#header-info > h1, #header-info > p{
	color: white;
}

#copy {
  color: #333;
  font-size: 20px !important;
  line-height: 32px;
  width: 80%;
  margin: 50px auto;
  letter-spacing: 1px;
  text-align: center;
  clear: both;
}

h1.title{
	margin-bottom: 80px;
}























