.mejs-container {
	position: relative;
	background: #EC7266;
}

.mejs-clear {
	clear: both;
}

/* Start: LAYERS */
.mejs-layers{
	display: none;
}

.mejs-mediaelement {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.mejs-container .mejs-controls .mejs-button{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.mejs-container .mejs-controls .mejs-button button{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 75px;
	height: 75px;
	margin-left: -37.5px;
	margin-top: -37.5px;
	outline: none;
	border: none;
}
.mejs-container .mejs-controls .mejs-play{
	opacity: 1;

	-webkit-transition: opacity 150ms ease;
	-moz-transition: opacity 150ms ease;
	-ms-transition: opacity 150ms ease;
	-o-transition: opacity 150ms ease;
	transition: opacity 150ms ease;
}
.mejs-container .mejs-controls .mejs-pause{
	opacity: 0;

	-webkit-transition: opacity 150ms ease;
	-moz-transition: opacity 150ms ease;
	-ms-transition: opacity 150ms ease;
	-o-transition: opacity 150ms ease;
	transition: opacity 150ms ease;
}
.mejs-container .mejs-controls:hover .mejs-pause{
	opacity: 1;
}
.mejs-container .mejs-controls .mejs-play button{
	background-color: transparent;
	background-image: url("../assets/img/css/1x/play.png");
	background-size : 75px 75px;

	@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
		background-image: url("../assets/img/css/2x/play.png");
	}
}
.mejs-container .mejs-controls .mejs-pause button{
	background-color: transparent;
	background-image: url("../assets/img/css/1x/pause.png");
	background-size : 75px 75px;

	@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
		background-image: url("../assets/img/css/2x/pause.png");
	}
}

/* End: CONTROL BAR */

.mejs-container .mejs-controls .mejs-time-rail{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100% !important;
	height: 6px;
	padding-top: 0;
	background: rgba(0,0,0,.08);
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 6px;
	background: #FFFFFF;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-buffering{
	display: none !important;
}

.mejs-container .mejs-time-float{
	display: none;
}

.mejs-container .mejs-time .mejs-currenttime{
	position: absolute;
	bottom: 10px;
	display: block;
	width: 30px;
	margin-left: -15px;
	font: normal 400 11px/20px "aktiv-grotesk-std", Helvetica, sans-serif;
	color: #FFF;
	text-align: center;
}

.mejs-container .mejs-time-handle{
	display: block;
	position: absolute;
	top: -6px;
	height: 13px;
	width: 1px;
	background: #FFFFFF;
}
